@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/* ここから  開始　　　　　ここから  開始　　　　　　　　　　　*/

.header {
    height: 40px;
    /* background: #000; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}


}
.header-wrap {
    height: 100px;
}
.logo {
    /* margin: 10px; */
    
    height: 30px;
    width: 150px;
}
.header-nav ul {
    display: flex;
}
.header-nav li {
    margin-right: 15px;
    font-size: 14px;
    font-family: "NotoSansCJKjp";
    color: #65483A;
}
.header-nav a {
    color: #65483A;
    text-decoration: none;
}

/* ここからFIrstview の範囲 */
.firstview {
    position: relative;
    height: 800px;
    background-color: saddlebrown;
    margin: 0 0 100px 0;
}
.firsview_parent {
    height: 1000px;
}
.img_1 {
    position: absolute;
    display: block;
    right: 0px;
    width: 75%;
    height: 600px;
    /* height: auto; */
    
    margin: 0 0 0 auto;
    z-index: 2;
}
.firstview_message {
    display: block;
    position: absolute;
    top: 90%;
    left: 10%;
    font-size: 20px;
    /* z-index: 5; */
}
.absolute_1 {
    position: absolute;
    /* width: 700px; */
    
    height: 300px;
    width: auto;
    background-color: rgb(228, 208, 225);
    top: 100px;
    left: 200px;
    z-index: 3;
}
.absolute {
    font-size: 50px;
    color: rgb(179, 22, 103);
    /* font-family: 'Quicksand', sans-serif; */
    
    font-family: 'Short Stack', cursive;
}
.message {
    height: auto;
    color: rgb(179, 22, 103);
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
}
.message_2 {
    line-height: 30px;
}
li:hover {
    color: #F7CB4D;
    border-bottom: 2px solid #F7CB4D;
}
.website-flow-new {
    height: 1700px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.flow-image-new {
    width: 300px;
    text-align: center;
}
.flow-content-new {
    width: 50%;
}

/* ----------------------- */
.website_flow {
    height: 1700px;
    background: #E9F6FF;
}
.website_flow_ttl {
    text-align: center;
}
.flow {
    display: flex;
    justify-content: center;
}
.flow-image-1 {
    border-radius: 50%;
    width: 100%;
    padding: 0px 50px;
    margin-bottom: 100px;
    background-size: cover;
    background-position: center;
}
.flow-image-2 {
    /* border-radius: 50%; */
    
    border-radius: 50%;
    width: 100%;
    height: 140%;
    padding: 0px 28px;
    margin-bottom: 150px;
    background-position: center;
}
.flow-image-3 {
    border-radius: 50%;
    width: 50%;
    height: 140%;
    padding: 0px 20px 0px 0px;
    margin-bottom: 150px;
    background-size: cover;
    background-position: center;
}
.flow-image-4 {
    border-radius: 50%;
    padding: 0px 50px;
    margin-bottom: 150px;
    background-size: cover;
    background-position: center;
}
.flow-image-5 {
    border-radius: 50%;
    padding: 0px 50px;
    margin-bottom: 80px;
    background-size: cover;
    background-position: center;
}
.flow-image-6 {
    border-radius: 50%;
    padding: 0px 50px;
    margin-bottom: 80px;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    width: 250px;
    height: 180px;
}
.flow-image-7 {
    border-radius: 50%;
    padding: 0px 50px;
    background-size: cover;
    background-position: center;
}
.flow-content-1 {
    background: #5CF357;
    width: 600px;
    /* height:100px; */
    
    text-align: center;
    border: 1px solid #eee;
    /* min-width:30%; */
}
.flow-content-1-1 {
    font-size: 15px;
    /* height: 40px; */
    
    vertical-align: middle;
    line-height: 40px;
    text-align: center;
}
.flow-content-1-1-p {
    margin: 0px;
}
.flow-content-1-2 {
    background: white;
    text-align: center;
    border: 1px solid #eee;
}
.flow-content-1-2 p {
    text-align: left;
    margin: 0px;
    padding: 0px 50px;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 60px solid yellow;
    margin: 10px auto;
    text-align: center;
    background: none;
    display: block;
}

/* comapny info */
#company {
    height: 750px;
    margin: 0 auto;
}
.company_ttl {
    padding: left 3.1rem;
    width: 70%;
    padding: 0px 50px 10px 0px;
}
.company_heading {
    text-align: left;
    color: rgb(179, 22, 103);
    font-family: 'Short Stack', cursive;
    padding: 1.8rem 0rem 0.6rem 4.3rem;
    display: block;
}
.company_content {
    font-size: 1.25rem;
    padding: 0.6rem 0rem 0.6rem 4.3rem;
}
.company_container {
    padding: 20px 0px 10px 50px;
    display: flex;
    justify-content: center;
}
.about_img {
    width: 30%;
}
.profile_img {
    border-radius: 50%;
    object-fit: cover;
}
.tbl_container {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.tbl_bdr tr {
    border: 1px solid #333333;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto;
}
table th {
    padding: 10px;
    width: 150px;
}
table td {
    border: 1px solid #333333;
    border-collapse: collapse;
    padding: 10px;
}

/* お問い合わせ */
.inquiry {
    /* height: 350px; */
    
    margin: 50px 0px 0px 0px;
    height: 200px;
    background: center;
    width: auto;
    display: block;
    background-size: cover;
    background-image: url("../img/inquiry.jpg");
    /* background-size: 200px 100px; */
    /* back back background-repeat: no-repeat; */
    /* height: 200px; */
}
.inquiry-contents {
    background-color: rgba(0, 0, 0, 0.4);
    height: 200px;
}
.inquiry::after {
    background-color: black;
    opacity: 0.5;
    display: block
}
.inquiry-contents p {
    text-align: center;
    padding: 50px 0px 0px 0px;
    font-weight: bold;
    font-size: 25px;
    display: block;
    color: white;
}
.plactice__btn {
    position: relative;
    background: #FF8C00;
    width: 250px;
    display: block;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 60px;
    margin: 0px auto;
    box-shadow: 0px 10px 3px #92897e;
}
.footer {
    text-align: center;
    height: 250px;
    /* line-height: 30px; */
    
    font-size: 10.5px;
    background: #F8F7F6;
}
.footer_company {
    display: flex;
    justify-content: center;
    padding: 0px 0px 20px 0px;
}
.footer-address {
    font-size: 8px;
    padding: 20px;
}
.footer_logo {
    margin: 0px 15px;
}
.footer_companyname {
    background: black;
    width: 220px;
    height: 50px;
    color: white;
    font-size: 20px;
    margin: 0px 15px;
}
.footer_li {
    list-style: none;
    display: inline-block;
    /* text-decoration: none; */
    /* width: 10%; */
}
.footer_li a:link,
a:visited,
a:hover,
a:active {
    color: black;
    text-decoration: none;
}
.copyright {
    vertical-align: bottom;
}